<div class="flex">
  <%= render 'sidebar_tags', tags: @tags %>

  <!-- Main Content -->
  <div class="flex-1 p-6">
    <%= render 'section_container', 
                heading_text: "Heading", 
                heading_color: "green-500", 
                border_color: "green-500", 
                edit_path: edit_cv_headings_path do %>
      <%= render "heading", locals: { full_name: @full_name, heading: @heading } %>
    <% end %>


    <%= render 'education' %>
  </div>

</div>

